$font-family-base: custom-font, -apple-system, BlinkMacSystemFont, "PingFang TC", Arial, sans-serif;

// ============================================
// Other variables 
// ============================================
$logo-width: 96px;
$logo-height: 24px;
$img-src-prefix: "../images/";
$header-height: 72px;
$header-height-sm: 56px;
$search-bar-height: 116px;
$search-bar-height-sm: 56px;


