
<div class="container">

  <!-- Title & navbar -->
  <div class="row align-items-basline my-3">
    <div class="col-sm-4">
      <h2 class="mb-0">Bangkok<span class="notation-lg text-primary">3,240</span></h2>
    </div>
    <div class="col-sm-8">
      <ul class="nav flex-nowrap">
        <li class="nav-item">
          <a href="#" class="nav-link h6 active">Recommended</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link h6">Lowest Price</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link h6">Best value</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link h6">Distance to City Center</a>
        </li>
      </ul>
    </div>
  </div>

  <div class="d-sm-none">
    <div class="d-flex align-items-center justify-content-center">
      <a href="#filterCollapse" class="btn btn-link" data-toggle="collapse" >
        <span class="material-icons align-middle">filter_list</span> FILTER
      </a>
      <a href="#" class="btn btn-link">
        <span class="material-icons align-middle">sort</span> SORT
      </a>
    </div>
  </div>

  <div class="row">

    <!-- Filter navbar -->
    <div class="col-sm-4">
      <nav class="card bg-info border-0">
        <div class="card-body">
          <%- include('./filter') -%> 
        </div>
      </nav>
    </div>

    <!-- Results -->
    <div class="col-sm-8">
      <%- include('./result-hotels') -%>
    </div>
  </div>
</div>


<div id="filterCollapse" class="filter-collapse collapse">

  <div class="filter-header bg-light">
    <div>
      <span class="material-icons align-middle">filter_list</span> FILTER
    </div>
    <button type="button" class="btn btn-link" data-toggle="collapse" data-target="#filterCollapse">
      <span class="material-icons">close</span>
    </button>
  </div>

  <div class="filter-content bg-info"> 
    <div class="container">
      <%- include('./filter') -%> 
    </div>
  </div>

  <div class="filter-footer">
    <h4 class="mb-4">Find 1,245 results</h4>
    <div class="row">
      <div class="col-6"><button class="btn btn-outline-light text-uppercase">clear</button></div>
      <div class="col-6"><button class="btn btn-primary text-uppercase">filter</button></div>
    </div>
  </div>
</div>

  