<% 
  cities = [
    {
      name: "Osaka",
      country: "Japan",
    },
    {
      name: "Kyoto",
      country: "Japan",
    },
    {
      name: "Reykjavic",
      country: "Iceland",
    },
    {
      name: "Paris",
      country: "France",
    },
    {
      name: "Roma",
      country: "Italy",
    },
    {
      name: "Bangkok",
      country: "Thailand",
    },
  ];
 %> 
<section class="container">
  <h3 class="mb-4">Popular Destinations</h3>
  <ul class="row">
  <% for (var i=0; i<cities.length; i++) { %> 
    <li class="col-md-6 col-lg-4 mb-2 mb-md-4">
      <button class="btn btn-block px-4 py-3 rounded-lg bg-img-<%- cities[i].name -%> ">
          <div class="d-flex justify-content-between align-items-center">
            <div class="text-left">
              <p class="small text-muted text-uppercase"><%- cities[i].country -%></p>
              <h5 class="text-light"><%- cities[i].name -%></h5>
            </div>
            <div class="material-icons text-light">keyboard_arrow_down</div>
          </div>
      </button>
    </li>
  <% } %> 
  </ul>
</section>