<div class="card bg-info">
  <a href="#bookingDetailCollapse" class="p-3 d-block d-md-none" data-toggle="collapse">
    <div class="d-flex justify-content-between">
      <div class="row-start-center">
        <p class="text-sub text-secondary mr-3">Total</p>
        <p class="font-weight-bold">TWD 4,633</p>
      </div>
      <p class="text-primary">
        Detail
        <span class="material-icons">keyboard_arrow_down</span>
      </p>
    </div>
  </a>
  <div id="bookingDetailCollapse" class="bg-info w-100 collapse collapse-absolute collapse-disabled-md rounded-lg-up-md">
    <ul class="list-unstyled list-divider-white m-3 m-md-4 rounded-bottom">
      <li>
        <h6 class="mb-3">Booking details</h6>
        <p class="text-sub text-secondary">17 June 2020 - 19 June 2020・2 nights</p>
        <p class="text-sub text-secondary">2 adults・1 room</p>
        <p class="text-sub text-secondary">Rachada Hotel</p>
      </li>
      <li>
        <h6 class="mb-3">Price summary</h6>
        <ul class="list-unstyled">
          <li class="d-flex justify-content-between">
            <p class="text-sub text-secondary">Deluxe Suite with Pool</p>
            <p class="text-sub text-secondary">TWD 3,960</p>
          </li>
          <li class="d-flex justify-content-between">
            <p class="text-sub text-secondary">VAT (7%)</p>
            <p class="text-sub text-secondary">TWD 277</p>
          </li>
          <li class="d-flex justify-content-between">
            <p class="text-sub text-secondary">Property service charge</p>
            <p class="text-sub text-secondary">TWD 396</p>
          </li>
        </ul>
      </li>
      <li>
        <div class="d-flex justify-content-between">
          <p class="text-sub text-secondary">Total</p>
          <p class="font-weight-bold">TWD 4,633</p>
        </div>
      </li>
    </ul>
    
  </div>
</div>