<div class="card rounded-lg-up-md bg-info">
  <a id="bookingCollapseButton" href="#bookingDetailCollapse" class="p-3 d-block d-md-none collapsed" data-toggle="collapse">
    <div class="d-flex justify-content-between">
      <p class="text-dark animate-title-fadeout">
        <span class="text-sub text-secondary mr-3">Total</span>
        <span class="font-weight-bold">TWD 4,633</span>
      </p>
      <p class="text-primary text-uppercase font-weight-bold">
        Detail
        <span class="material-icons icon-lg animate-icon animate-icon-spin">keyboard_arrow_up</span>
      </p>
    </div>
  </a>
  <div id="bookingDetailCollapse" class="bg-info rounded-lg-up-md w-100 collapse collapse-absolute collapse-disabled-md">
    <ul class="list-unstyled list-divider-white py-3 py-md-4 mx-3 mx-md-4 rounded-bottom border-top border-light">
      <li>
        <h6 class="mb-3">Booking details</h6>
        <p class="text-sub text-secondary">17 June 2020 - 19 June 2020・2 nights</p>
        <p class="text-sub text-secondary">2 adults・1 room</p>
        <p class="text-sub text-secondary">Rachada Hotel</p>
      </li>
      <li>
        <h6 class="mb-3">Price summary</h6>
        <ul class="list-unstyled">
          <li class="d-flex justify-content-between">
            <p class="text-sub text-secondary">Deluxe Suite with Pool</p>
            <p class="text-sub text-secondary">TWD 3,960</p>
          </li>
          <li class="d-flex justify-content-between">
            <p class="text-sub text-secondary">VAT (7%)</p>
            <p class="text-sub text-secondary">TWD 277</p>
          </li>
          <li class="d-flex justify-content-between">
            <p class="text-sub text-secondary">Property service charge</p>
            <p class="text-sub text-secondary">TWD 396</p>
          </li>
        </ul>
      </li>
      <li>
        <div class="d-flex justify-content-between">
          <p class="text-sub text-secondary">Total</p>
          <p class="font-weight-bold">TWD 4,633</p>
        </div>
      </li>
    </ul>

  </div>
</div>
<script>
</script>