<div id="carouselMain" class="banner carousel slide" data-ride="carousel" data-aos="fade-in">
  <ul class="carousel-inner">
    <li class="carousel-item active">
      <img src="assets/images/index-banner.jpg" class="w-100" alt="carousel 1">
      <div class="carousel-caption">
        <h2 class="fz-title">Discover your ideal hotel</h2>
      </div>
    </li>
    <li class="carousel-item">
      <img src="assets/images/RangRak.jpg" class="w-100" alt="carousel 2">
      <div class="carousel-caption">
        <h2 class="fz-title">Essence of relaxation</h2>
      </div>
    </li>
    <li class="carousel-item">
      <img src="assets/images/Watana2.jpg" class="w-100" alt="carousel 3">
      <div class="carousel-caption">
        <h2 class="fz-title">Explore fantastic vacation</h2>
      </div>
    </li>
  </ul>
  <div class="container-custom-md">
    <a class="carousel-control-prev" href="#carouselMain" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselMain" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>

<!-- Search Bar -->
<div class="container-custom-md" data-aos="fade-up"  data-aos-delay="200">
<%- include('search-bar') -%>
</div>