<div class="navbar navbar-expand-lg navbar-light">
  <div class="container justify-content-between">
    <div class="d-flex w-100 justify-content-between">
      <div class="d-flex flex-column-reverse flex-md-row justify-content-between justify-content-lg-start flex-fill">
        
        <p class="navbar-text p-sub mr-6 text-center">© 2020 ALOHA, Inc. All rights reserved.</p>
        <ul class="nav flex-row p-sub">
          <li class="nav-item"><a href="faq.html" class="nav-link">FAQs</a></li>
          <li class="nav-item"><a href="terms.html" class="nav-link">Terms of use</a></li>
          <li class="nav-item"><a href="privacy.html" class="nav-link">Privacy policy</a></li>
        </ul>
      </div>

      <!-- Language & Currency -->
      <ul class="navbar-nav d-none d-lg-flex">
        <li class="nav-item dropup">
          <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" id="dropdownFooterLang">
            <span class="material-icons align-middle">language</span>English
          </a>
          <ul class="dropdown-menu" aria-labelledby="dropdownFooterLang">
            <li class="dropdown-item"><a href="#">English</a></li>
            <li class="dropdown-item"><a href="#">中文</a></li>
            <li class="dropdown-item"><a href="#">日本語</a></li>
          </ul>
        </li>
        <li class="nav-item dropup">
          <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" id="dropdownFooterCurrency">
            <span class="material-icons align-middle">attach_money</span>TWD
          </a>
          <ul class="dropdown-menu" aria-labelledby="dropdownFooterLang">
            <li class="dropdown-item"><a href="#">TWD</a></li>
            <li class="dropdown-item"><a href="#">USD</a></li>
            <li class="dropdown-item"><a href="#">JPY</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>