<% if ( simple == true) { %>
<div class="navbar navbar-expand-md">
<% } else { %>
<div class="navbar navbar-expand-md bg-light">
<% } %>
  <div class="container justify-content-between">
  <% if ( simple != true) { %>
    <button class="navbar-toggler" type="button" data-toggle="dropdown" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="material-icons">menu</span>
    </button>
  <% } %>

    <h1 class="navbar-brand logo"><a href="index.html">ALOHA</a></h1>

<% if ( simple != true) { %>
    <ul class="navbar-nav">
      <div class="navbar-collapse collapse" id="navbarContent">
        <li class="nav-item dropdown">
          <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button">
            <span class="material-icons icon-md">language</span>
          </a>
          <ul class="dropdown-menu" aria-labelledby="dropdownLang">
            <li class="dropdown-item"><a href="#">English</a></li>
            <li class="dropdown-item"><a href="#">中文</a></li>
            <li class="dropdown-item"><a href="#">日本語</a></li>
          </ul>
        </li>
    <% if ( member != true ) { %>
        <li class="nav-item ml-4">
          <a href="sign-up.html" class="nav-link">Sign up</a>
        </li>
    <% } %>
      </div>
    <% if ( member == true ) { %>
      <li class="nav-item dropdown ml-4">
        <a href="#" class="nav-link align-icons px-3" data-toggle="dropdown" role="button">
          <img src="./assets/images/profile.jpg" alt="profile picture thumbnail" class="border border-primary thumbnail-sm rounded-circle">
          <span class="d-none d-md-inline">David Lin</span>
          <span class="material-icons p d-none d-md-inline">arrow_drop_down</span>
        </a>
        <ul class="dropdown-menu" aria-labelledby="dropdownMember">
          <li class="dropdown-item"><a href="#">Account</a></li>
          <li class="dropdown-item"><a href="#">My bookings</a></li>
          <li class="dropdown-item"><a href="#">Privacy</a></li>
          <li class="dropdown-item"><a href="#">Log out</a></li>
        </ul>
      </li>
    <% } else { %>
      <li class="nav-item ml-4">
        <a href="login.html" class="nav-link">Login</a>
      </li>
    <% } %>

    </ul>
<% } %>
  </div>
</div>
