<%
  locations = [
    ['Bangkok', 'Thailand'],
    ['Osaka', 'Japan'],
    ['Roma', 'Italy'],
    ['Paris', 'France'],
    ['Reykjavik', 'Iceland'],
  ];

  numberOptions = [
    'Adult', 'Child', 'Room'
  ];
%>

<form class="search-bar bg-info rounded-lg" action="search-result.html" method="get">
  <ul class="search-options flex-column flex-lg-row">
    <!-- Field Destination -->
    <li class="dropdown mb-3 mb-lg-0">
      <button class="btn btn-light btn-block text-left pl-3" type="button" data-toggle="dropdown" data-offset="0,8">
        <span class="material-icons align-middle">location_on</span>
        Destination
      </button>
      <ul class="dropdown-menu list-unstyled w-100">
        <% for (var i=0; i<locations.length; i++) { %>
          <li class="dropdown-item">
            <a href="#" class="btn btn-link text-dark">
              <div class="d-flex">
                <div class="material-icons align-middle">grade</div>
                <div>
                  <p><%- locations[i][0] -%></p>
                  <p class="small"><%- locations[i][1] -%></p>
                </div>
              </div>
            </a>
          </li>
        <% } %> 
      </ul>
    </li>
    
    <!-- Field Calendar -->
    <li class="mb-3 mb-lg-0">
      <button id="searchDatePicker" class="btn btn-light btn-block text-left pl-3" type="button" data-toggle="dropdown">
        <span class="material-icons align-middle">date_range</span>
        Check-in / Check-out
      </button>
    </li>
      

    <!-- Field Guests -->
    <li class="dropdown mb-3 mb-lg-0">
      <button class="btn btn-light btn-block text-left pl-3" type="button" data-toggle="dropdown" data-offset="0,8">
        <span class="material-icons align-middle">person</span>
        Guests
      </button>
      <ul class="dropdown-menu list-unstyled w-100">
        <% for (var i=0; i<numberOptions.length; i++) { %>
          <li class="dropdown-item">
              <div class="d-flex justify-content-between">
                <p><%- numberOptions[i] -%></p>
                <%- include('./number-picker', {number: 0, href: "#", options: ""}) -%>
              </div>
          </li>
        <% } %> 
        </ul>
    </li>
    <li class="flex-grow-0 flex-shrink-0">
      <button class="btn btn-primary search-btn btn-block" type="submit">Search</button>
    </li>
  </ul>

</form>