<div class="py-4 bg-info">
  <div class="container">
    <div class="row">
      <div class="col-sm-5">
        <h2 class="mb-0">Subscribe for<br> Exclusive Offer</h2>
      </div>
      <div class="col-sm-7">
        <form action="#" class="input-group h-100 w-100" method="post">
          <input type="text" class="form-control h-100" name="subscribeEmail" placeholder="Your email address">
          <div class="input-group-append">
            <button class="btn btn-primary">Subscribe</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>