<section class="section bg-info">
  <div class="container">
    <div class="row">
      <div class="col-sm-5">
        <h2 class="mb-4">Subscribe for Exclusive Offer</h2>
      </div>
      <div class="col-sm-7">
        <form action="#" class="input-group w-100" method="post">
          <input type="text" class="form-control" name="subscribeEmail" placeholder="Your email address">
          <div class="input-group-append">
            <button class="btn btn-primary">Subscribe</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>