<section class="subscribe-lg bg-info">
  <div class="container d-flex flex-column justify-content-center align-items-center">
    <h2 class="fz-title mb-md-4 mb-3">Subscribe for Exclusive Offer</h2>
    <form action="#" class="input-group input-group-lg w-md-50" method="post">
      <input type="text" class="form-control" name="subscribeEmail" placeholder="Your email address">
      <div class="input-group-append">
        <button class="btn btn-primary">Subscribe</button>
      </div>
    </form>
  </div>
</section>