.search-card-img {
    @include media-breakpoint-up(sm) {
        border-top-left-radius: $border-radius-lg;
        border-bottom-left-radius: $border-radius-lg;
    }
}

.card-body-narrow {
    padding: 1rem;
    @include media-breakpoint-down(md) {
        padding: 4px 8px;
    }
}

.card-rounded-0-sm {
    @include media-breakpoint-down(sm) {
        border-radius: 0;
    }
}

.old-price {
    text-decoration: line-through;
    color: $secondary;
    font-size: 16px;
    @include media-breakpoint-down(md) {
        font-size: 12px;
    }
}