.animate-icon {
  -webkit-transition: transform .35s ease-in-out;
  transition: transform .35s ease-in-out;
}
.animate-title-fadeout {
  opacity: 0;
  -webkit-transition: opacity .35s ease-out;
  transition: opacity .35s ease-out;
}

.collapsed {
  .animate-title-fadeout {
    opacity: 1;
  }
  .animate-icon-spin {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
}

