
<div class="container px-0 px-md-3 pt-4">

  <!-- Title & navbar -->
  <div class="row align-items-basline mb-3">
    <div class="col-md-4 text-center text-md-left">
      <h2 class="fixed-size mb-0">Bangkok<span class="notation-lg text-primary">3,240</span></h2>
    </div>

    <div class="col-md-8 d-none d-md-block">
      <ul class="nav flex-nowrap" role="tablist">
        <li class="nav-item">
          <a id="tab0" href="#pane0" class="nav-link h6 active" data-toggle="tab" role="tab">Recommended</a>
        </li>
        <li class="nav-item">
          <a id="tab1" href="#pane1" class="nav-link h6" data-toggle="tab" role="tab">Lowest Price</a>
        </li>
        <li class="nav-item">
          <a id="tab2" href="#pane2" class="nav-link h6" data-toggle="tab" role="tab">Best value</a>
        </li>
        <li class="nav-item">
          <a id="tab3" href="#pane3" class="nav-link h6" data-toggle="tab" role="tab">Distance to City Center</a>
        </li>
      </ul>
    </div>
  </div>

  <!-- Filter btn groups: only shown for phone -->
  <div class="d-md-none">
    <ul class="d-flex align-items-center justify-content-center w-100 mb-3">
      <li class="flex-fill border-right border-info">
        <a href="#filterCollapse" class="btn btn-link btn-block font-weight-bold text-dark text-sub" data-toggle="collapse" >
          <span class="material-icons icon-lg">filter_list</span> FILTER
        </a>
      </li>
      <li class="flex-fill">
        <div class="dropdown">
          <a href="#" class="btn btn-link btn-block font-weight-bold text-dark text-sub" data-toggle="dropdown">
            <span class="material-icons icon-lg">sort</span> SORT
          </a>
          <ul class="dropdown-menu dropdown-menu-right bg-info border-0 vw-100 mx-3">
            <li class="dropdown-item active"><a href="#pane0" data-toggle="tab" class="font-weight-bold">Recommended</a></li>
            <li class="dropdown-item"><a href="#pane1" data-toggle="tab" class="font-weight-bold">Lowest Price</a></li>
            <li class="dropdown-item"><a href="#pane2" data-toggle="tab" class="font-weight-bold">Best value</a></li>
            <li class="dropdown-item"><a href="#pane3" data-toggle="tab" class="font-weight-bold">Distance to City Center</a></li>
          </ul>
        </div>
      </li>
    </ul>
  </div>

  <div class="row">

    <!-- Filter navbar -->
    <div class="col-md-4 d-none d-md-block mb-4" data-aos="fade-right">
      <nav class="card bg-info border-0">
        <div class="card-body">
          <%- include('./filter', {filterName: "filter"}) -%>
        </div>
      </nav>
    </div>

    <!-- Results -->
    <div class="col-md-8" data-aos="fade-up">
      <%- include('./result-hotels') -%>

      <nav class="bg-info rounded-lg p-3 w-100 mt-4 mb-5 d-flex justify-content-between">
        <button class="btn btn-outline-primary text-uppercase">previous</button>
        <ul class="pagination">

          <li class="page-item active"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item d-none d-md-block"><a class="page-link" href="#">3</a></li>
          <li class="page-item d-none d-lg-block"><a class="page-link" href="#">4</a></li>
          <li class="page-item d-none d-lg-block"><a class="page-link" href="#">5</a></li>
          <li class="page-item d-none d-lg-block"><a class="page-link" href="#">6</a></li>
          <li class="page-item d-none d-lg-block"><a class="page-link" href="#">7</a></li>
          <li class="page-item"><a class="page-link" href="#">...</a></li>
          <li class="page-item"><a class="page-link" href="#">9</a></li>

        </ul>
        <button class="btn btn-primary text-uppercase">next</button>
      </nav>
    </div>
  </div>
</div>

<!-- Filter navbar collapse: used in sm layout -->
<div id="filterCollapse" class="fullscreen-collapse collapse">
  <div class="fullscreen-collapse-wrapper">

  <div class="fullscreen-header bg-light">
    <div>
      <span class="material-icons icon-lg">filter_list</span> FILTER
    </div>
    <button type="button" class="btn btn-link text-dark" data-toggle="collapse" data-target="#filterCollapse">
      <span class="material-icons icon-lg">close</span>
    </button>
  </div>

  <div class="fullscreen-content bg-info">
    <div class="container pt-4">
      <%- include('./filter', {filterName: "filterSmall"}) -%>
    </div>
  </div>

  <div class="fullscreen-footer bottom-modal text-left">
    <div class="bottom-modal-wrapper">
      <h4 class="mb-4">Find 1,245 results</h4>
      <div class="row">
        <div class="col-6"><button class="btn btn-outline-light btn-lg btn-block text-uppercase" data-toggle="collapse" data-target="#filterCollapse">clear</button></div>
        <div class="col-6"><button class="btn btn-primary btn-lg btn-block text-uppercase" data-toggle="collapse" data-target="#filterCollapse">filter</button></div>
      </div>
    </div>
  </div>

  </div>
</div>

