// ----- banner ------
.banner {
    margin-bottom: -52px; // search bar offset

    img {
        object-fit: cover;
        height: 320px;
        @include media-breakpoint-down(sm) {
            height: 315px;
        }
    }
}

// ----- subscribe section -----
.subscribe-lg {
    padding: 92px 0;
    .input-group {
        width: 100%;
        @include media-breakpoint-up(md) {
            width: 570px;
        }
        @include media-breakpoint-up(lg) {
            width: 50%;
        }
    }
    
}

// ----- customized lists -----
.list-mb {
    @include list-gap(58px);
    @include media-breakpoint-down(md) {
        @include list-gap(30px);
    }
}

.list-mb-sm {
    @include list-gap(30px);
    @include media-breakpoint-down(md) {
        @include list-gap(16px);
    }
}

.list-mb-xs {
    @include list-gap(16px);
}
