// ----- banner ------
.banner {
    margin-bottom: -52px; // search bar offset

    img {
        object-fit: cover;
        height: 320px;
        @include media-breakpoint-down(sm) {
            height: 315px;
        }
    }
}

.header {
    height: $header-height;
    @include media-breakpoint-down(md) {
        height: $header-height-sm;
    }
}

.content {
    margin-top: $header-height;
    @include media-breakpoint-down(md) {
        margin-top: $header-height-sm;
    }
}

.content-lg {
    margin-top: $header-height + $search-bar-height;
    @include media-breakpoint-down(md) {
        margin-top: $header-height-sm + $search-bar-height-sm;
    }
}


// ----- subscribe section -----
.subscribe-lg {
    padding: 92px 0;
    @include media-breakpoint-down(sm) {
        padding: 24px 0;
        h2 {
            font-size: 22px;
            line-height: 24px;
        }
    }
    .input-group {
        width: 100%;
        @include media-breakpoint-up(md) {
            width: 570px;
        }
        @include media-breakpoint-up(lg) {
            width: 50%;
        }
    }
    
}

// ----- customized lists -----
.list-mb {
    @include list-gap(58px);
    @include media-breakpoint-down(md) {
        @include list-gap(30px);
    }
}

.list-mb-sm {
    @include list-gap(30px);
    @include media-breakpoint-down(md) {
        @include list-gap(16px);
    }
}

.list-mb-xs {
    @include list-gap(16px);
}
