.filter-collapse {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1030;

    display: flex;
    flex-direction: column;

    width: 100vw;
    height: 100vh;
}

.filter-header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    flex: 0 0 auto;

    padding: 16px;
}

.filter-content {
    flex: 1 1 auto;
    overflow-y: scroll;
    &>div {
        padding-bottom: 200px;
    }
}

.filter-footer {
    position: absolute;
    left: 0;
    bottom: 0;    
}