.fullscreen-collapse {
    position: fixed;
    top: 0;
    z-index: 1060;
}

.fullscreen-collapse-wrapper {
    display: flex;
    flex-direction: column;

    width: 100vw;
    height: 100vh;
}

.fullscreen-header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    flex: 0 0 auto;

    padding: 10px 4px 10px 16px;
}

.fullscreen-content {
    flex: 1 1 auto;
    overflow-y: scroll;
    &>div {
        padding-bottom: 200px;
    }
}

.fullscreen-footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;    
}