// ========================================================
// Carousel banner
// ========================================================
.banner {
    margin-bottom: -52px; // search bar offset
    img {
        object-fit: cover;
        height: 320px;
        filter: brightness(75%);
        @include media-breakpoint-down(sm) {
            height: 315px;
        }
    }
}

// ========================================================
// Page layout
// For content offset below header
// ========================================================
.app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header {
    position: sticky;
    top: 0;
    z-index: 1050;
}

.content {
    flex: 1;
}


// ========================================================
// block display badge
// ========================================================
.div-badge {
    padding: 8px 16px;
    border-radius: 4px;
    color: #00000099;
    margin-right: 8px;

    @include media-breakpoint-down(md) {
        font-size: 14px;
    }
}

// ========================================================
// Icon sizes
// ========================================================
.icon-md {
    font-size: 20px;
}

.icon-lg {
    font-size: 24px;
}