.price-tag {
    display: flex;
    align-items: center;
    justify-content: space-between;

    background: none;
    border: none;

    @include media-breakpoint-between(md, lg) {
        background: white;
        padding: 8px 10px;
        border-radius: 4px;
        @include list-w-divider(8px, $info, 1px, true);
    }
    &>li {
        flex-grow: 1;
        background: white;
        border-radius: 4px;
        padding: 8px;

        @include media-breakpoint-between(md, lg) {
            padding: 0;
        }
    }

    .divider {
        background: none;
        flex-grow: 0;
        line-height: 100%;
        vertical-align: middle;
        @include media-breakpoint-between(md, lg) {
            display: none;
        }
    }

    .title {
        font-size: 12px;
        font-weight: bold;
        text-transform: uppercase;
    }

    .price {
        color: $secondary;
        font-size: 14px;
        text-transform: uppercase;
        @include media-breakpoint-between(md, lg) {
            font-size: 12px;
        }
    }

    label {
        margin-bottom: 0;
        margin-right: 4px;
    }

    input[readonly] {
        width: 100%;
        color: $secondary;
        background: none;
        border: none;
    }
}