// ---- text styles
.notation {
    font-size: 12px;
    vertical-align: top;
}

.notation-lg {
    font-size: 16px;
    vertical-align: top;
}

.fz-grade {
    font-size: 18px;
}

h2.fz-title {
    font: normal normal 800 48px/64px Raleway;

    @include media-breakpoint-down(sm) {
        font-size: 32px;
        font-weight: bold;
    }
}

.fz-hotel-title {
    @include media-breakpoint-down(lg) {
        font-size: 18px;
    }
    @include media-breakpoint-down(md) {
        font-size: 16px;
    }
    @include media-breakpoint-down(sm) {
        margin-bottom: 0;
    }
    a {
        color: black;
    }
    a:hover {
        color: $primary;
    }
}

.text-sub {
    font-size: 14px;
}
